@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@variants hover {
  .untruncate {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
  }
}

/*Remove arrows from number input fields*/

input[type=number] {
  appearance: textfield;
}


/*Spinner*/

.loader {
  border-top-color: #3498db;
  animation: spinner 1.5s linear infinite;
}


@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
